*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    padding-top: 80px;
    font-family: 'Mukta', sans-serif;
}
h1{
    text-align: center;
    margin: 30px 0px;
}
img{
    height: 300px;
    width: 300px;
    border-radius: 20px 20px 0px 0px;
}
.navchange{
    background-color: #a2cf83;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
}
.search-box {
    height: 35px;
    background: #c2eca5;
    border-radius: 35px;
}
.cart{
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
}
.shopping{
    position: relative;
}
.shopping-cart-count{
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #ca3737;
    color: #ffffff;
    width: 18px;
    height: 18px;
    padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 0.7em;
}
.hidden-list{
    display: none;
}
.hidden{
    display: none !important;
}
.cart-empty{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shopping-product{
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #ffffff;
    width: 400px;
    z-index: 2;
    box-shadow: 0 0 2px rgba(0, 0, 0);
    border-radius: 10px;
}
.shopping-product-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.shopping-product-row-cart{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}
.shopping-product-row-cart-info{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}
.icon-close{
    background-color: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.icon-close:hover{
    background-color: #ca3737;
    cursor: pointer;
}
.prix{
    font-weight: 600;
}
.shopping-product-total{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopping-product-total h3{
    font-size: 1.2em;
    padding-right: 5px;
}
.total{
    font-size: 1.2em;
    font-weight: 600;
}
.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}
.box>div{
    box-shadow: 0px 0px 5px 0px #000000;
    background-color: #b9eb98;
    border-radius: 20px;
}
.info{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info>h2{
    font-size: 1.5em;
    font-weight: 500;
}
.info .price {
    font-size: 1.5rem;
    font-weight: 400;
}
.info .price span{
    font-size: 0.8em;
    font-weight: 300;
}
.info button{
    background-color: #549c24;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
}
.info button:hover{
    background-color: #72a74e;
}